.education{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    padding-top: 25px;
    div{
        margin-bottom: 20px;
        width: 40%;
        background-color: aliceblue;

    }
    }